.top{
    color:white;font-size:15px;
    text-align: center;
    padding:8px;
   
}
.name{
    color:blue;font-size:35px;
    text-align: center;
    
}
.motto{
    color:white;font-size:37px;
    text-align: center;
    padding:35px;
}
body{
    background: #373231;
}
img{
    height: 220px;
    width: 220px;
}
.column{
    float: left;
    margin:35px
}
.card{
    box-shadow: 0px -4px 8px 0px;
}
.text{
    color:black;
}
